html, body {
    margin: 0;
    padding: 0;
    background-color: #262728; /* Optional: background color for the whole page */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: calc(100% - 20px);
    height: 50px;
}

li {
    list-style-type: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.links {
    display: flex;
}

body {
    padding-top: 70px;
}

.dyna {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 40px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .static-txt {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

.wrapper .dynamic-txts {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li {
    color: #FC6D6D;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    opacity: 0;
    animation: slide 6s steps(3) infinite;
}

@keyframes slide {
    0%, 33% {
        opacity: 1;
        top: 0;
    }
    34%, 100% {
        opacity: 0;
        top: -90px; /* Hide the current word when sliding out */
    }
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    width: 100%;
    background: #262728;
    border-left: 2px solid #FC6D6D;
    animation: typing 1.5s steps(10) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
